# Operating System files
*.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
.venv/
.env/
*.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Editors and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sql
*.sqlite

# Build and Dependency Files
dist/
build/
*.db
*.db-journal

# Temporary Files
tmp/
temp/
*.tmp

# Backup Files
*.bak
*.swp
*.swo

# VS Code workspace files
*.code-workspace
